
body{
    background-image: url("../img/background.jpg");
}


.buttons{


    padding-top:50px;
    padding-left:30px;
    width:470px;
    height:350px;
    display: grid;
    grid-template-columns: 67% auto;
}

.main{
    margin:0 auto;
    width:500px;
    height:450px;
    border:3px solid white;
    border-radius:10%;
    background-color:#080629;
    
}
.result{
    width:400px;
    text-align:right;
    margin: 0 auto;
    font-size:25px;
    border-radius:10px;
    border:3px solid #d45832;
}
.divResult{
    padding-top:20px;
    margin:0 auto;
    width:400px;
    height:40px;
}
.btn{
    width: 100px;
    height:60px;
    font-size:25px;

}

.numberButtons{
    
    display:grid;
    grid-template-columns:auto auto auto;
}
.signsButtons{
    padding-left:35px;
    display:grid;
    grid-template-rows:auto auto auto auto;
    
}

.buttons .btn{
    color:white;
    border: 3px solid white;
}
.numberButtons .btn{
    background-color:#d45832;
    border-radius:10%;
}

.signsButtons .btn{
    border-radius: 50%;
    width:60%;

    background-color:#d69232;
}